<div class="page-header">
        <div class="row left">
                <div *ngIf="Opend" class="button sprite arrow_left left" (click)='sidebarClicked()'></div>
                <div class="button sprite Menu left" (click)='sidebarClicked()'></div>
        </div>
        <div class="row reverse ">
                <div class="box">
                        <div class="round_image ">
                                <img class="img-circle" src="../saitama.png">
                        </div>
                </div>
                
                <div class="box">
                        <div class="sprite Notifications header_sprite"></div>
                </div>
                <div class="box">
                        <div class="sprite Messages header_sprite"></div>
                </div>
                
                <div class="roundedButton box"> 
                        <span>+ Add Project</span>
                </div>
        </div>
</div>