*
{
    box-sizing: border-box;
}
.flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    height: 100%;  
    display: flex;
    flex-direction: column; 
    border: 1px solid #dadee7;
    margin: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.top-left {
    flex-shrink: 0;
    border-bottom: 1px solid #dadee7;
}

ul {
    list-style: none;
}

.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
}

.numberCircle {
    margin: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    text-align: center;
    font: 26px Arial, sans-serif;
}
.numberCircle.red{
    background: #FF3D7F;
}
.numberCircle.blue{
    background: #5284FF;
}
.bottom ul li:{
    width: 100%;

}
.list_item_wrapper:hover{
    background-color: lightblue;
}
.list_item_wrapper{
    height: 70px;
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid #dadee7;
}
.list_item_wrapper > * {
    padding: 10px;
}
  
  .main {
    text-align: left;
  }
  
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0 0; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
  }

.dots_menu:after {
    content: '\2807';
    font-size: 3em;
}
.dots_menu:hover{
    opacity: .8;
    cursor: pointer;
}

.bigText{
    font-size: large;
}

.headerText{
    font-weight: 900;
}
.greyText{
    opacity: .6;    
}
.timeText{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: .6;
}
.floatleft{
    margin: 3px;
    float: left;
}
.listBottomMenu{
    opacity: .5;
    padding: 5px;
}
    .listBottomMenu div:hover{
        cursor: pointer;
        opacity: .8;
    }
ul li{
    padding: 10px;
    border-bottom: 1px solid #dadee7;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: grey;
}
.stackName{
    font-size: 2em;
    margin: 10px;
}