<div class="column">
        <div class="top-left flex">
            <div class="left">
                <span class="stackName">{{data.Name}}</span>
            </div>
            <div class="numberContainer flex">
                <div *ngIf="blue" class="numberCircle blue">{{blue}}</div>
                <div *ngIf="red" class="numberCircle red">{{red}}</div>
            </div>
        </div>
        <div class="bottom">
            <ul>
                <stacklist-item *ngFor="let item of data.data" [item]="item"></stacklist-item>
            </ul>
        </div>
</div> 