.title{
    height: 10%;
}
.title img{
    margin-top: 10px;
}
.sidemenuitem{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222;
}

.sidemenuitem a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.sidemenuitem span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;	
}