<div class="sidebar">
    <div class="title"><img src="../logo.png" alt=""></div>
        <ul class="nav">
            <li class="sidemenuitem"
                [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)"
                *ngFor="let item of side_menu_items">
                <a class='sprite {{item.icon}} '></a>
                <span>{{item.name}}</span>
            </li>
        </ul>
</div>