<div class="wrapper">
    <app-menu></app-menu>
    
    <div class="content {{isOpen && 'isOpen'}}">
      <header [Opend]='isOpen' (notify)='onNotify()'></header>
      
      <mainbody [title]="title"></mainbody>
    </div>
</div>