.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f6f7fa;
}

.row .bigitem{
    margin: 10px;
}
.row .smallitem{
    margin: 10px;
}
.bigitem {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    height: 300px;
 }
 .smallitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    display: flex;
    flex-direction: column-reverse;
    width: 300px;
    height: 300px;
 }
 
.center_items{
    justify-content: center;
    
}
stack-list{
    flex: 1 0 0;
}

.img {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #d4d9e3;
}