<div class="container">
    <div class="row">
        <h1>{{title}}</h1>
    </div>
    <div class="row">
            <div class="smallitem"><img class="img" src="../chart-1.png"></div>
            <div class="bigitem"><img class="img" src="../chart-2.png"> </div>
    </div>
    <loading [showLoading]="!data"></loading>
    <div *ngIf="data" class="row center_items">
         <stack-list [data]="data.Tasks" [blue] = "data.Tasks.Number1" [red] = "data.Tasks.Number2"></stack-list>
         <stack-list [data]="data.Messages" [blue] = "data.Messages.Number1" ></stack-list>
         <stack-list [data]="data.Activity" [blue] = "data.Activity.Number1" ></stack-list>
    </div>
</div>