.sprite { background: url('sprite.png') no-repeat top left; width: 20px; height: 14px;  } 
.sprite.arrow_down { background-position: 0 0; width: 14px; height: 9px; } 
.sprite.arrow_left { background-position: -24px 0; width: 8px; } 
.sprite.arrow_right { background-position: -42px 0; width: 8px; } 
.sprite.BackArrow { background-position: -60px 0; width: 18px; } 
.sprite.Calendar { background-position: -88px 0; height: 20px; } 
.sprite.Clock { background-position: -118px 0; width: 17px; height: 17px; } 
.sprite.home { background-position: -145px 0; width: 24px; height: 21px; } 
.sprite.Menu { background-position: -179px 0; width: 26px; height: 20px; } 
.sprite.Messages { background-position: -215px 0; width: 33px; height: 23px; } 
.sprite.Notifications { background-position: -258px 0; width: 24px; height: 28px; } 
.sprite.Options { background-position: -292px 0; width: 7px; height: 33px; } 
.sprite.Options_small { background-position: -309px 0; width: 16px; height: 16px; } 
.sprite.Search { background-position: -335px 0; width: 26px; height: 26px; } 
.sprite.Settings { background-position: -371px 0; width: 21px; height: 22px; } 
.sprite.Statistics { background-position: -402px 0; width: 24px; height: 22px; } 
.sprite.Users { background-position: -436px 0; height: 20px; } 
.sprite.Workflow { background-position: -466px 0; height: 19px; } 


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100vh;
  }
  
  body {
    font: 600 12px/1 'Open Sans', sans-serif;
    
    overflow-x: hidden;
  }
  
  .wrapper {
    display: flex;
    min-height: 100%;
  }
  
  .sidebar {
    position: fixed;
    width: 220px;
    color: #0e1a35;
    background: #0e1a35;
    height: 100%
  }
  
  .content {
    width:100%;
    min-width: 400px;
    background:white;
    box-shadow: 0 0 5px rgba(0,0,0,1);
    transform: translate3d(0,0,0);
  }
  
  .content.isOpen {
    transform: translate3d(220px,0,0);
    width:calc(100% - 220px);
    
  }
  
  .button {
    cursor: pointer;
  }
  
  .title {
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #eee;
    border-bottom: 1px solid #222;
    
  }
  
  .nav li {
    position: relative;
    display: block;
    padding: 20px 0 20px 0px;
    font-size: 12px;
    color: #eee;
    
  }
  
  .nav li:before {
    font: 14px fontawesome;
    position: absolute;
    top: 19px;
    left: 20px;
  }
  
  .nav li:hover {
    background: #5584ff;
    opacity: .8;
  }
  
  .nav li.active {
    box-shadow: inset 5px 0 0 #5383FF, inset 6px 0 0 #222;
    background: #122143;
  }
    
  h1 {
    margin: 25px 0 15px;
    font-size: 28px;
    font-weight: 400;
  }
  
  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #999;
  }

  #header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #222;
    color: white;
  }
  #header h1 {
    top: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  #nav {
    position: absolute;
    right: 0;
    top: -15px;
    height: 60px;
  }
  #nav ul li {
    float: left;
    list-style: none;
  }
  #nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 10px;
  }

  
.page-header {
  background-color: #FFFFFF;
  height: 5%;
  display: flex;
  flex: 0 0 auto;
  display: flex;
  
}
.page-header div{
  margin: 0.5%;
}
.right{
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom:10px;
  margin-left: auto;
}
.left{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom:10px;
  margin-right: auto;
}
.row{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  
  margin: 15px;
  padding: 5px;
  width:95%;
}
.img-circle {
  width: 30px;
  height: 30px;
  border: 1px solid lightsteelblue;
  border-radius: 50%;
}
.reverse{
  display: inline-flex;
  flex-direction: row-reverse;
}
.roundedButton{
  border-radius: 25px;
  /*adjust height and width*/
  min-height: 25px;
  min-width: 100px;
  color:white;
  /*change border colour*/
  background-color:#5584ff;
}
.roundedButton span{
  display: flex;
  align-content: center;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box{
  margin-left: 30px!important;
}
